<html>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
</style>

<%- include('template_note_styles.ejs') %>
<%- include('partials/template_labels_styles.ejs') %>
<%- include('partials/template_keywords_styles.ejs') %>
<%- include('partials/template_created_date_styles.ejs') %>
<%- include('partials/template_noteref_styles.ejs') %>
<%- include('partials/template_metadata_styles.ejs') %>
<%- include('partials/template_section_title_styles.ejs') %>

<body>
  <h1>
    <%= title %>
  </h1>
  <%- include('partials/template_created_date.ejs') %>
  <%- include('partials/template_labels.ejs') %>
  <% if (summary) { %>
  <p class="summary">
    <%= summary %>
  </p>
  <% } %>
  <%- content %>
</body>

</html>